
# 排除IDE项目文件
.settings
.settings/*
.buildpath
.project

# 日记文件
*.log

# 临时文件
*.bak
*.swp

*.dat
*.zip
*.tar

.DS_Store
*.DS_Store

.idea

# 离线文档
Public/*/doc/
public/docs

# 上传的文件
Public/upload
public/uploads

vendor
composer.lock

gitc
